<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Sweet4u" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-red-900">
    <% if user_signed_in? && current_user %>
      <main class="container-fluid bg-gray-100" data-controller="user-notifications" data-user-notifications-user-id-value="<%= current_user.id %>">
        <%= render 'layouts/structure/layout' %>
        <%= yield %>
      </main>
    <% else %>
      <main class="container-fluid bg-gray-100">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
